.menu{
    margin: 0;
    padding: 0;
    min-width: 50px;
    min-height: 50px;
}

.menu-icon{
    margin: 0;
    padding: 0;
    min-width: 35px;
    min-height: 35px;
    font-size: 35px;
}

mat-sidenav-container{
    margin: 0;
    padding: 0;
    height: 100%;
}

mat-sidenav{
    width: 51px;
}