<!--The content below is only a placeholder and can be replaced.-->


<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened>
    <div>
      <button mat-button class="menu" (click)="sidenav.toggle()">
        <mat-icon class="menu-icon">close</mat-icon>
      </button>
    </div>
    <div>
      <button mat-button class="menu" routerLink="/">
        <mat-icon class="menu-icon">home</mat-icon>
      </button>
    </div>
    <div>
      <button mat-button class="menu" routerLink="setting">
        <mat-icon class="menu-icon">settings</mat-icon>
      </button>
    </div>
  </mat-sidenav>
  <!-- main content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Trigger</span>
      </mat-toolbar-row>
    </mat-toolbar>  
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>