<div class="home-container">
  <div class="button">
    <button mat-raised-button (click)="launchApp('Steam')">Steam</button>
  </div>
  <div class="button">
    <button mat-raised-button color="primary" (click)="launchApp('Epic')">Epic</button>
  </div>
  <div class="button">
    <button mat-raised-button color="accent" (click)="launchApp('Origin')">Origin</button>
  </div>
  <div class="button">
    <button mat-raised-button color="warn" (click)="launchApp('BattleNet')">Battle Net</button>
  </div>
</div>